* {
    margin: 0;
    padding: 0;
    box-sizing: border border-box;
    font-family: sans-serif;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.dock {
    display:flex;
    gap: 25px;
    padding: 18px 35px;
    margin-bottom: 40px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.icones{
    font-size: 38px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.25s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones:hover {
    transform: translateY(-15px) scale(1.7);
}

.icones:hover i {
    animation: bounce 0.4s ease;

}
 
bounce {
    0%{
    transform: translateY(0);    
    }
    50%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(0);
    }
}
.dock:hover{
    transform: scale(1.05);
}